In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [3]:
iten_df = pd.read_csv("WeatherPy_vacation.csv")
iten_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Chumphon,TH,78.80,broken clouds,10.33,98.83,บ้านอิงน้ำ โฮมสเตย์
1,6,Baherden,TM,84.72,clear sky,38.44,57.43,NaN
2,7,Sao Filipe,CV,77.92,broken clouds,14.90,-24.50,Tortuga B&B
3,8,Hamilton,US,82.00,few clouds,39.18,-84.53,Six Acres Bed & Breakfast
4,11,Atuona,PF,79.95,clear sky,-9.80,-139.03,Villa Enata

In [4]:
# build the dataframe for the selected cities
# four cities in New England chosen from the map layer in part2

city_one = iten_df.loc[iten_df["City"] == "Westport"]
city_two = iten_df.loc[iten_df["City"] == "Plainview"]
city_three = iten_df.loc[iten_df["City"] == "Fairview"]
city_four = iten_df.loc[iten_df["City"] == "Mayo"]

In [5]:
# retrieve lat/lon for each city
begining = city_one["Lat"].values[0], city_one["Lng"].values[0]
sone = city_two["Lat"].values[0], city_two["Lng"].values[0]
stwo = city_three["Lat"].values[0], city_three["Lng"].values[0]
end = city_four["Lat"].values[0], city_three["Lng"].values[0]

In [6]:
# Build the route
fig = gmaps.figure()
iten_df = gmaps.directions_layer(
        begining, end, waypoints=[sone, stwo],
        travel_mode='DRIVING')
fig.add_layer(iten_df)
fig

# Could not get this feature to work. Lat longs are accurate...

Figure(layout=FigureLayout(height='420px'))

In [7]:
final_iten_df = pd.concat([city_one, city_two, city_three, city_four])
final_iten_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
77,263,Westport,US,75.20,few clouds,41.14,-73.36,The Westport Inn
161,533,Plainview,US,80.01,few clouds,40.78,-73.47,Holiday Inn Plainview-Long Island
66,238,Fairview,US,84.20,overcast clouds,40.81,-74.00,Homewood Suites by Hilton Edgewater-NYC Area
169,556,Mayo,US,80.60,few clouds,38.89,-76.51,Resorts Resource Group International

In [8]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} 
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in final_iten_df.iterrows()]
locations = final_iten_df[["Lat", "Lng"]]

In [42]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
fig = gmaps.figure(center=(41.0, -74.0), zoom_level=6)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
print("that was kinda hard thank goodness for refactoring and documentation")

that was kinda hard thank goodness for refactoring and documentation